.ax_default {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._一级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._六级标题 {
  font-family:'ArialMT', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  text-align:left;
}
._流程形状 {
}
._连接线 {
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._形状 {
}
._图片 {
  color:#000000;
}
.shape {
}
.line {
}
.image {
  color:#000000;
}
.label {
  font-size:14px;
  text-align:left;
}
.heading_1 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.box_2 {
}
.horizontal_line {
}
._图片1 {
}
.paragraph {
  text-align:left;
}
.heading_2 {
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.connector {
}
.ellipse {
}
.checkbox {
  text-align:left;
}
.radio_button {
  text-align:left;
}
.table_cell {
}
.box_1 {
}
.connector1 {
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#656565;
  text-align:center;
  line-height:normal;
}
.box_3 {
}
.image1 {
}
.button {
}
.primary_button {
  color:#FFFFFF;
}
.link_button {
  color:#169BD5;
}
.table {
}
.table_cell1 {
}
.marker {
  color:#FFFFFF;
}
.icon {
}
._表格 {
}
.box_21 {
}
.radio_button1 {
  text-align:left;
}
.line1 {
}
.checkbox1 {
  text-align:left;
}
._形状1 {
}
._文本段落1 {
  text-align:left;
}
.flow_shape {
}
